<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%
        let typePatante = '';
        if(paramUrl === 'art') {
            typePatante = 'artisanale';
        }
        if(paramUrl === 'com'){
            typePatante = 'commerciale';
        }
    %>
    <title><%= typePatante %></title>
    <!-- Inclure le CDN Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <!-- css personnalisé -->
    <link rel="stylesheet" href="Css/style.css">
    <!-- Le favicon -->
    <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
    <script>
        window.onload = function (){
            const urlParams = new URLSearchParams(window.location.search);
            const type = urlParams.get('type');
            if (type !== 'art' && type !== 'com') {
                window.location.href = '/fiche';
            }
        }
    </script>
</head>
<body class="" id="bodyLogin">
    <%- include('pageajout/header') %>
    <div class="container-fluid section">
        <form id="form-recensement" class="form-inline mt-3 py-3 px-0 bg-light border border-primary">
            <div class="rounded-bottom shadow mb-3">
                <div class="container-fluid nav-text d-flex justify-content-center">
                    <p class="chapeau-text">FICHE DE PATENTE <span class="text-uppercase"><%= typePatante %></span> EXERCICE 2024</p>
                </div>
            </div>
            <div class="container text-secondary text-wrap">
                
                <div class="form-floating border">
                    <input type="text" name="nom" placeholder="Entez votre nom" class="form-control shadow-none rounded-0" id="nom">
                    <label for="nom" class="form-label">Raison sociale(Ou Nom de responsable)</label>
                </div><br>
                <div class="form-floating border">
                    <input type="text" name="nature" placeholder="nature" class="form-control shadow-none rounded-0" id="nature">
                    <label for="nature" class="form-label">Nature d'activité</label>
                </div><br>
                <div class="form-floating border">
                    <input type="text" name="denomination" placeholder="denomination" class="form-control shadow-none rounded-0" id="denomination">
                    <label for="denomination" class="form-label">Dénomition commerciale</label>
                </div><br>
                <div class="form-floating border">
                    <select class="form-select border-0 shadow-sm" name="categorie" id="categorie">
                        <option value="" disable selected hidden>---Catégorie(PATENTE)---</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                    </select>
                </div><br>
                <fieldset>
                    <legend class="text-danger">Adresse d'activité</legend>
                    <div class="form-floating border">
                        <input type="text" name="avenu_acti" placeholder="Entez la nationalite de l'étudiant" class="form-control shadow-none rounded-0" id="avenu_acti">
                        <label for="avenu_acti" class="form-label">Avenue ou Pavillion</label>
                    </div><br>
                    <div class="form-floating border">
                        <input type="text" name="numero_acti" placeholder="Entez la nationalite de l'étudiant" class="form-control shadow-none rounded-0" id="numero_acti">
                        <label for="numero_acti" class="form-label">Numéro</label>
                    </div><br>
                    <div class="form-floating border">
                        <input type="text" name="quartier_acti" placeholder="Entez la nationalite de l'étudiant" class="form-control shadow-none rounded-0" id="quartier_acti">
                        <label for="quartier_acti" class="form-label">Quartier</label>
                    </div><br>
                    <div class="form-floating border">
                        <input type="text" name="commune_acti" placeholder="Entez la nationalite de l'étudiant" class="form-control shadow-none rounded-0" id="commune_acti">
                        <label for="commune_acti" class="form-label">Commune</label>
                    </div><br>
                    <div class="form-floating border-none border-bottom">
                        <input type="email" name="email" placeholder="Entez votre E-mail" class="form-control shadow-none rounded-0" id="email">
                        <label for="email" class="form-label">Email Ex: nomprenom@gmail.com</label>
                    </div><br>
                    
                    <div class="form-floating border">
                        <input type="tel" name="tel" placeholder="000-000-000" class="form-control shadow-none rounded-0" maxlength="9" id="tel">
                        <label for="tel" class="form-label">Téléphone Ex: 899999999</label>
                    </div><br>
                </fieldset>
                
                <fieldset>
                    <legend class="text-danger">Adresse Résidentielle</legend>
                    <div class="form-floating border">
                        <input type="text" name="avenu_resi" placeholder="Entez la nationalite de l'étudiant" class="form-control shadow-none rounded-0" id="avenu_resi">
                        <label for="avenu_resi" class="form-label">Avenue ou Pavillion</label>
                    </div><br>
                    <div class="form-floating border">
                        <input type="text" name="numero_resi" placeholder="Entez la nationalite de l'étudiant" class="form-control shadow-none rounded-0" id="numero_resi">
                        <label for="numero_resi" class="form-label">Numéro</label>
                    </div><br>
                    <div class="form-floating border">
                        <input type="text" name="quartier_resi" placeholder="Entez la nationalite de l'étudiant" class="form-control shadow-none rounded-0" id="quartier_resi">
                        <label for="quartier_resi" class="form-label">Quartier</label>
                    </div><br>
                    <div class="form-floating border">
                        <input type="text" name="commune_resi" placeholder="Entez la nationalite de l'étudiant" class="form-control shadow-none rounded-0" id="commune_resi">
                        <label for="commune_resi" class="form-label">Commune</label>
                    </div><br>
                </fieldset>
                <div class="form-floating border">
                    <input type="number" name="taux" placeholder="Entez la nationalite de l'étudiant" class="form-control shadow-none rounded-0" id="taux">
                    <label for="taux" class="form-label">Taux Prévu (Exercice 2024) En Chiffre</label>
                </div><br>
                <fieldset>
                    <legend class="text-danger">Pénalités d'asiette 50%</legend>
                    <div class="form-floating border">
                        <input type="number" name="penalite" placeholder="Entez la nationalite de l'étudiant" class="form-control shadow-none rounded-0" id="penalite">
                        <label for="penalite" class="form-label">Net à payer(Patente Artisanale) en chiffre</label>
                    </div><br>  
                </fieldset>

                <!--Capturer, Prendre une photo-->
                <div class="d-flex justify-content-center">
                    <div data-mdb-ripple-init class="btn btn-info col-10 col-md-8">
                        <label class="form-label fw-bold text-white" for="customFile2"><i class="fa-solid fa-camera fs-5 me-2"></i>Prendre une Photo</label>
                        <input type="file" name="file" class="form-control d-none" id="customFile2" />
                    </div>
                </div>
                
                <!--La prévisualisation de la photo-->
                <div class="d-flex justify-content-center border-2 border-primary my-2">
                    <img id="preview" src="#" alt="Prévisualisation de l'image" class="img-fluid w-75" style="display: none;"/>
                    <label class="custom-file-label" for="preview"></label>
                </div>

                <input type="hidden" name="id_user" value="<%= id_user %>">

                <input type="hidden" name="type_pat" value="<%= typePatante %>">

                <div class="d-flex justify-content-around group-btn">
                    <button class="btn btn-primary col-10 col-md-8 btn-lg" id="btn-recense">
                        <div class="spinner-border text-white" id="spinner" role="status" style="display:none; width:30px; height:30px">
                            <span class="sr-only">Loader...</span>
                        </div>
                        <span id="connexion-text"><i class="fa-sharp fa-solid fa-user-plus me-1"></i>Enregistrer</span>
                    </button>
                    <a href="fiche" type="button" class="btn btn-success col-10 btn-lg shadow" id="btn-back" style="display:none;">
                        <span>OK</span>
                    </a>
                </div>
                
                <!--L'affichage des reponse ajax-->
                <div class="container mt-3 col-12 col-md-8">
                    <!-- Afficher le message d'erreur s'il existe -->
                    <div id="info" class="text-start"></div>
                </div>
                
                <div class="container mt-3 d-flex justify-content-center">
                    <p class="text-dark alert alert-info col-12 col-md-8 text-center">
                        NB: Toutes recettes due à la patente ou fiche de recensement est versé à la banque
                    </p>
                </div>
            </div>
        </form>
    </div>
    <div class="container footer d-flex justify-content-center mt-5 mb-0 .sticky-fixed-bottom">
        <div class="text-footer text-white text-center">
            <p>VENTE PATENTE EXERCICE <br> 2024</p>
        </div>
    </div>
    <!-- Inclure le CDN Bootstrap JS et ses dépendances (Popper.js) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#customFile2').on('change', function() {
                var file = this.files[0];
                if (file) {
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        var image = $('#preview');
                        image.attr('src', e.target.result).show();

                        // Détruire l'ancien cropper si nécessaire
                        if (cropper) {
                            cropper.destroy();
                        }
                        // Initialiser le cropper
                        cropper = new Cropper(image[0], {
                        aspectRatio: 1,
                        viewMode: 1,
                        responsive: true,
                        background: false,
                        autoCropArea: 1,
                        crop: function(event) {
                            // Vous pouvez obtenir les données de recadrage ici si nécessaire
                        }
                        });
                    }
                    reader.readAsDataURL(file);
                }
            });

             // Le choix du type de recenssement
             $('#montant').val(70000);
            $('input[type=radio][name=type_rece]').change(function() {
                if (this.value === 'morale') {
                    $('#champ_physique').hide();
                    $('#champ_morale').show();
                    $('#montant').val(120000);
                }else if(this.value === 'physique') {
                    $('#champ_morale').hide();
                    $('#champ_physique').show();
                    $('#montant').val(70000);
                }
            });
            // à l'envoi du formulaire
            $('#form-recensement').submit(function(e){

                e.preventDefault();
                $('#spinner').show();
                $('#connexion-text').hide();
        
                var formData = new FormData(this);

                var nom = $('#nom').val(),
                    nature = $('#nature').val(),
                    denomination = $('#denomination').val(),
                    categorie = $('#categorie').val(),
                    email = $('#email').val(),
                    tel = $('#tel').val(),
                    avenu_acti = $('#avenu_acti').val(),
                    numero_acti = $('#numero_acti').val(),
                    quartier_acti = $('#quartier_acti').val(),
                    commune_acti = $('#commune_acti').val(),
                    avenu_resi = $('#avenu_resi').val(),
                    numero_resi = $('#numero_resi').val(),
                    quartier_resi = $('#quartier_resi').val(),
                    commune_resi = $('#commune_resi').val(),
                    taux = $('#taux').val(),
                    penalite = $('#penalite').val();

                if (nom!= "" && denomination!="" && categorie!="" && email!="" && tel!="" && avenu_acti!="" && numero_acti!="" && quartier_acti!="" && commune_acti!="" && avenu_resi!="" && numero_resi!="" && quartier_resi!="" && commune_resi!="" && taux!="" && penalite!="") {
                    $.ajax({
                        url : "/addpatente/ajoutpatent",
                        type : "POST",
                        data : formData,
                        contentType: false,
                        processData: false,
                        success : function(datas){

                            $('#spinner').hide();
                            $('#connexion-text').show();
                            
                            if(datas.message.includes("éffectue")){
                                $('#btn-back').show();
                                $('#btn-recense').hide();
                                $('#info').hide();
                            }else{
                                $('#info').addClass('alert alert-danger text-danger');
                                $('#info').html(datas.message);
                            } 
                        }
                    });
                }else{
                    $('#spinner').hide();
                    $('#connexion-text').show();
                    $('#info').addClass('alert alert-danger text-danger');
                    $('#info').html('Renseignez toutes les informations');
                }
            });
        });
    </script>
</body>
</html>